

@model IEnumerable<WebProje.Models.Content>

@*İNDEX SAYFASI POSTLARIN DETAY SAYFASI*@



<link rel="stylesheet" href="/lib/bootstrap/dist/assets/css/sty.css">

<!-- Şehrim -->
<section class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-content">
                    <div class="row">
                        <div class="col-lg-8">
                            <h4>ŞEHRİMM</h4>
                        </div>
                        <div class="col-lg-4">
                            <div class="main-button">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- İÇERİKK -->
<section class="blog-posts pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts container">
                    <div class="row">
                        <div class="col-lg-12 container p-2">
                            @foreach (var item in Model)
                            {
                                <div class="blog-post">
                                    <div class="blog-thumb">
                                        <img src="@(item.ContentResimUrl)" alt="">
                                    </div>
                                    <div class="down-content">
                                        <span>@item.KonuBasligi</span>
                                        <a href="#"><h4>@item.Aciklama</h4></a>
                                        <ul class="post-info">
                                            <li><a href="/AnaSayfa/AboutMe">Admin</a></li>
                                            <li><a href="#">May 31, 2020</a></li>
                                            <li><a href="#yorum">12 Comments</a></li>
                                        </ul>
                                        <br />
                                        <p>@item.Icerik <a rel="nofollow" href="#" target="_parent">Hatayda Nerde Yenir</a></p>
                                        <div class="post-options">
                                            <div class="row">
                                                <div class="col-6">
                                                    <ul class="post-tags">
                                                        <li><i class="fa fa-tags"></i></li>
                                                        <li><a href="#">Hatay</a>,</li>
                                                        <li><a href="#">Antakya</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-6">
                                                    <ul class="post-share">
                                                        <li><i class="fa fa-share-alt"></i></li>
                                                        <li><a href="#">Facebook</a>,</li>
                                                        <li><a href="#"> Twitter</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="list-group">
                    <h2 class="m-2" style="font-size:26px;font-weight:900;color:black;">Son Yorumlar</h2>
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small>3 days ago</small>
                        </div>
                        <p class="mb-1">Some placeholder content in a paragraph.</p>
                        <small>Devamını oku</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">Some placeholder content in a paragraph.</p>
                        <small class="text-muted">And some muted small print.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">Some placeholder content in a paragraph.</p>
                        <small class="text-muted">And some muted small print.</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Yorumlarr -->
<section class="layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="yorum" class="heading" style="padding-left: 15px;padding-right: 15px;">
                    <h4 style="border-bottom: solid #333 1px;">Comments / 2</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="full comment_blog_line">
                    <div class="row">
                        <div class="col-md-1">
                            <img src="/lib/bootstrap/dist/images/c_1.png" alt="#" />
                        </div>
                        <div class="col-md-9">
                            <div class="full contact_text">
                                <h3>Veniam</h3>
                                <h4>Posted on Jan 10 / 2017 at 06:53 am</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                                    dolore magna aliquam erat volutpat.
                                </p>
                            </div>
                        </div>
                        @if (ViewBag.admin == 0)
                        {
                            <div class="col-md-2">
                                <a class="reply_bt" href="#">Reply</a>
                            </div>
                        }
                    </div>
                </div>
                <div class="full comment_blog_line">
                    <div class="row ">
                        <div class="col-md-1 ">

                        </div>
                        <div class="col-md-1" style="border-left: 5px solid #cfa671;">
                            <img src="/lib/bootstrap/dist/images/c_1.png" alt="#" />
                        </div>
                        <div class="col-md-7">
                            <div class="full contact_text">
                                <h3>Veniam</h3>
                                <h4>Posted on Jan 10 / 2017 at 06:53 am</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                                    dolore magna aliquam erat volutpat.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">

                        </div>
                    </div>
                </div>
                <div class="full comment_blog_line">
                    <div class="row">
                        <div class="col-md-1">
                            <img src="/lib/bootstrap/dist/images/c_2.png" alt="#" />
                        </div>
                        <div class="col-md-9">
                            <div class="full contact_text">
                                <h3>Jack</h3>
                                <h4>Posted on Jan 10 / 2017 at 06:53 am</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                                    dolore magna aliquam erat volutpat.
                                </p>
                            </div>
                        </div>
                        <!-- admin sayfasında olması lazım -->
                        @if (ViewBag.admin == 0)
                        {
                            <div class="col-md-2">
                                <a class="reply_bt" href="#">Reply</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin_top_30">
            <div class="col-md-12 margin_top_30">
                <div class="heading" style="padding-left: 15px;padding-right: 15px;">
                    <h4>Post : Your Comment</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="full comment_form">
                    <form action="">
                        <fieldset>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" name="name" placeholder="Name" required="#" />
                                        <input type="email" name="email" placeholder="Email" required="#" />
                                    </div>
                                    <div class="col-md-6">
                                        <textarea placeholder="Comment"></textarea>
                                    </div>
                                </div>
                                @if (ViewBag.Yorum == 1)
                                {
                                    <div class="row margin_top_30">
                                        <div class="col-md-12">
                                            <div class="center">
                                                <button>Send</button>
                                            </div>
                                        </div>
                                    </div>

                                }
                                else
                                {
                                    <div class="row margin_top_30">
                                        <div class="col-md-12">
                                            <div class="center">
                                                <button disabled>Send</button>
                                            </div>
                                            <br />
                                            <a href="/AnaSayfa/Login"><p class="center" style="color:red;">Yorum yapabilmek için giriş yapınız</p></a>
                                        </div>
                                    </div>

                                }
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>


