<h1>
    Admin -> Kategori Ekle
</h1>

@model Kategori

<form method="post" asp-action="KategoriCreate" autocomplete="off">
    <div class="container shadow col-lg-8" style="border-radius: 20px; background-color: #f2f2f2; padding: 20px;">
        <div class="form-group">
            <label style="font-size:18px">Konu Başlığı</label>
            <input type="hidden" asp-for="Id" />
            <input type="text" asp-for="CategoryName" placeholder="Kategori Adı" class="form-control" />
        </div>
        
        <div class="form-group">
            @if (Model.Id == 0)
            {
                <button type="submit" class="btn btn-primary">Ekle</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary">Güncelle</button>
            }
        </div>
    </div>
</form>
